@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  font-family: "Bai Jamjuree", sans-serif;
}
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --Footer: #f5f6f8;
}
body {
  margin: 0 auto;
  font-size: 17px;
  max-width: 1440px;
}
.page {
  padding: 1.5rem 1.5rem 6rem 1.5rem;
}
.hero,
.content {
  padding-top: 60px;
  text-align: center;
}
.logo {
  margin-bottom: 40px;
}
.hero_title {
  font-size: 2rem;
}
.title,
.subtitle,
.hero_title {
  color: var(--Dark-Grayish-Blue);
  font-weight: 600;
}
.text {
  color: var(--Grayish-Blue);
  line-height: 1.5;
}
.btn {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
}
.cyan {
  background-color: var(--Strong-Cyan);
}
.blue {
  background-color: var(--Light-Blue);
}
.title {
  font-size: 1.8rem;
  padding-top: 50px;
}
.img {
  width: 100%;
  margin: 30px 0 30px 0;
}
.subtitle {
  margin-top: 40px;
}
.icon {
  margin-top: 30px;
}
.logo_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 50px 0 80px 0;
}
footer {
  background-color: var(--Footer);
  text-align: center;
}
.footer_logo {
  width: 50px;
  padding: 3rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.list a,
.attribution a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
}
.list a:hover {
  cursor: pointer;
  color: var(--Strong-Cyan);
}
.contacts {
  padding: 2rem;
}
.contact_icon {
  padding: 1rem;
}
.attribution {
  margin: 0;
  color: var(--Dark-Grayish-Blue);
  font-size: 15px;
}

@media (max-width: 380px) {
  body {
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
  }
}
@media (min-width: 380px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media (min-width: 786px) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .btn {
    width: 200px;
  }
  .hero {
    width: 50%;
  }
  .hero_title {
    font-size: 2.2em;
  }
  .content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenttext {
    width: 650px;
  }
  .computer_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
  }
  .leftbox {
    max-width: 750px;
    min-width: 500px;
    width: 50%;
  }

  .rightbox {
    text-align: left;
    width: 50%;
  }
  .rightbox_text {
    width: 60%;
  }
  .device {
    width: 70%;
  }
  .worlflow_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .flexbox {
    width: 380px;
  }
  .logo_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 85px;
  }
}
